@import url('https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&display=swap');

:root {
  --branco-principal: #ffffff;
  --cinza-secundario: #c0c0c0;
  --botao-azul: #167BF7;
  --cor-de-fundo: #00030C;
  --fonte-principal: 'Inter', sans-serif;
}

body {
  background-color: var(--cor-de-fundo);
  color: var(--branco-principal);
  font-family: var(--fonte-principal);
  font-size: 1rem;
  font-weight: 400;
}

/* Reset CSS */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.principal {
  background-image: url(img/Background.png);
  background-repeat: no-repeat;
  background-size: contain;
  align-items: center;
  text-align: center;
}

.container {
  height: 100vh;
  display: grid;
  grid-template-columns: 50% 50%;
}

.container__botao {
  display: block;
  background-color: var(--botao-azul);
  border-radius: 0.313rem;
  padding: 1rem;
  text-decoration: none;
  color: var(--branco-principal);
  text-align: center;
  font-size: 1rem;
  margin-bottom: 1rem;
}

.botao_secundario {
  background-color: transparent;
  border: 0.125rem solid var(--branco-principal);
}

.container__aviso {
  font-size: 0.75rem;
  color: var(--cinza-secundario);
}

.container__titulo{
  font-size: 1.75rem;
  font-weight: 700;
}

.container__imagem {
  margin: 1rem 0 2rem 0;
}

.container__caixa {
  padding: 0 6rem;
}

.secundario__imagem {
  width: 80%;
}

.secundario {
  align-items: center;
  margin: 0 10rem;
}

.descricao__titulo {
  font-size: 3rem;
  font-weight: 700;
  color: var(--branco-principal);
  margin-bottom: 0.3rem;
}

.descricao__texto {
  color: var(--cinza-secundario);
}

.secundario__botao {
  display: inline-block;
  margin-top: 1rem;
}

.container__descricao {
  padding: 2rem;
}
